@import "tailwindcss";

:root {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: radial-gradient(
    75% 75% at 50% 50%,
    #162b39 0%,
    #2b1e1c 99%
  );
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
